header {
  margin-top: 0px;
  background-image: url("/src/assets/hero-section.svg");
  // background-position: 25% 75%;
  background-position: right 0;
  height: 900px;
  object-fit: cover;

  .heading {
    padding-left: 10px;
    padding-right: 10px;

    margin-top: 200px;
    img {
      max-width: 300px;
    }
  }

  .button {
    padding-left: 20px;
    margin-top: 30px;

    .btn-acara {
      border-radius: 100px;
      background: #ffc73c;
      color: white;
      box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35);

      &:hover {
        background: #eeb012;
      }
    }
  }

  @include media-breakpoint-up(xs) {
  }

  @include media-breakpoint-up(sm) {
    margin-top: -50px;
    background-image: url("/src/assets/hero-section.svg");
    // background-position: 25% 75%;
    background-position: right 0;
    height: 900px;
    object-fit: cover;
    .heading {
      padding-left: 40px;
      padding-right: 40px;

      // margin-top: 200px;
      img {
        max-width: 400px;
      }
    }

    .button {
      padding-left: 40px;
      margin-top: 30px;

      .btn-acara {
        border-radius: 100px;
        background: #eeb012;
        color: white;
        box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35);

        &:hover {
          background: #eeb012;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    margin-top: -50px;
    background-image: url("/src/assets/hero-section.svg");
    // background-position: 25% 75%;
    background-position: right 0;
    height: 900px;
    object-fit: cover;
    .heading {
      padding-left: 40px;
      padding-right: 40px;

      margin-top: 200px;
      img {
        max-width: 400px;
      }
    }

    .button {
      padding-left: 40px;
      margin-top: 30px;

      .btn-acara {
        border-radius: 100px;
        background: #eeb012;
        color: white;
        box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35);

        &:hover {
          background: #eeb012;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    margin-top: -100px !important;
    background-image: url("/src/assets/hero-section.svg");
    //     padding: 180px 0 165px;
    height: 900px;
    background-size: cover;

    .heading {
      padding-left: 150px;
      padding-top: 100px;

      img {
        max-width: 500px;
      }
    }

    .button {
      padding-left: 150px;
      padding-top: 70px;

      .btn-acara {
        border-radius: 100px;
        background: #ffc73c;
        color: white;
        box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35);

        &:hover {
          background: #eeb012;
        }
      }
    }
  }
}

#tentang_acara {
  margin-top: 150px !important;
  .card {
    border-radius: 32px;
    background: linear-gradient(237deg, #59ffb9 -30.09%, #326cff 71.21%);
    color: #fff;

    .card-body {
      .card-title.fun {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: "Montserrat";
        font-size: 24px;
        font-style: italic;
        font-weight: bold;
      }

      .card-text.fun {
        font-size: 14px;
      }

      .card-title.special {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: "Montserrat";
        font-size: 24px;
        font-style: italic;
        font-weight: 900;
      }

      .card-text.special {
        font-weight: 600;
        color: #fff;

        font-family: "Montserrat";
        font-size: 16px;
      }

      p {
        font-family: "Montserrat";
        font-size: 16px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .card {
      border-radius: 32px;
      background: linear-gradient(237deg, #59ffb9 -30.09%, #326cff 71.21%);
      color: #fff;

      &:hover {
        background: linear-gradient(99deg, #59ffb9 -12.36%, #326cff 54.36%);
        img {
          transform: scale(1.15);
        }
      }

      // card image
      .card-image {
        border-radius: 20px;
        overflow: hidden;

        img {
          transition: all 0.5s ease-in-out;
          width: 100%;
          height: 100%;
        }
      }
      .card-body {
        .card-title.fun {
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          font-family: "Montserrat";
          font-size: 48px;
          font-style: italic;
          font-weight: bold;
        }

        .card-text.fun {
          font-size: 16px;
        }

        .card-title.special {
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          font-family: "Montserrat";
          font-size: 36px;
          font-style: italic;
          font-weight: 900;
        }

        p {
          font-family: "Montserrat";
          font-size: 16px;
        }
      }
    }
  }
}

#sponsor {
  margin-top: 200px !important;
  .sponsor {
    margin-top: 50px;
  }
}

#gallery {
  .swiper {
    .mySwiper2 {
      .swiper-wrapper {
        .swiper-slide {
          
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        .swiper-button-next,
        .swiper-button-prev {
          width: 30px;  
          height: 30px;
          
          background-color: #333; /* Change color as needed */
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 10;

          color: #59ffb9;
          cursor: pointer;

          &::after {
            content: ">";
            color: var(--swiper-navigation-color);
            font-size: 20px;
            line-height: 30px;
            display: block;
            text-align: center;
          }
        }
        

        .swiper-button-next {
          right: 30px;
        }

        .swiper-button-prev {
          left: 30px;
        }
      }
    }
  }


  .mySwiperr {
    .swiper-wrapper {
      .swiper-slide{
        filter: grayscale(100%);

        &.swiper-slide-thumb-active {
          filter: grayscale(0%);
        }
      }
    }
  }
}
